<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.github.dfrommi.notebook</string>
	<key>connections</key>
	<dict>
		<key>25CFD824-9205-4359-8385-CB85397B4290</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B809F7AE-112B-4298-A16F-3DD698322E89</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2E3E0B8C-D7C2-4F53-AEF8-7A4C770B2EE3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>59291333-40E9-49DC-BE0C-77C74D79F96D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3AA34AAC-45C4-4D12-B8E9-447B808F3F79</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>52E0C437-2D6C-4937-900E-AF3A1AD4580F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3DAF790E-77F1-45BD-97B3-3D0DD0D6BCF4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B00F11EE-64F1-4C20-ABA3-B77D2345C4F9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4914FFC3-9844-4C9A-9734-A913E3F96045</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8F46BB63-58D0-4AA1-A005-6587F2C8333A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>502C0E64-75B5-444C-99A4-450A1E623F2F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8F46BB63-58D0-4AA1-A005-6587F2C8333A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>52E0C437-2D6C-4937-900E-AF3A1AD4580F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>37B46817-9E7D-44A6-9240-7377DEACD88C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5FB5A4D6-1377-4DC3-BD16-BCB5D4918FAD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>639D8A78-8E33-4E83-A94F-EA6F764833EE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6CF78C68-F339-4917-B2CF-C9CD7C534132</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2E3E0B8C-D7C2-4F53-AEF8-7A4C770B2EE3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8F46BB63-58D0-4AA1-A005-6587F2C8333A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>688E13E7-20FC-429B-A65F-28195E0D7F11</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0B97705B-C130-4C2D-97CC-089DDCB19A5A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B00F11EE-64F1-4C20-ABA3-B77D2345C4F9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EA0E2B40-BFC4-4673-8444-5DBDAD86AF24</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>dfrommi</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Github Notebook</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo -e "---\ncreated: $(date "+%Y-%m-%d")\ntags: [{query}]\n---\n\n"
</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2E3E0B8C-D7C2-4F53-AEF8-7A4C770B2EE3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>59291333-40E9-49DC-BE0C-77C74D79F96D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>nbt</string>
				<key>subtext</key>
				<string>Markdown note template to active app</string>
				<key>text</key>
				<string>Note template</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6CF78C68-F339-4917-B2CF-C9CD7C534132</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>639D8A78-8E33-4E83-A94F-EA6F764833EE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>nb</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>php -f nb.php -- "{query}"</string>
				<key>title</key>
				<string>Search notebook</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5FB5A4D6-1377-4DC3-BD16-BCB5D4918FAD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>2</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>D</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.google.Chrome</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>502C0E64-75B5-444C-99A4-450A1E623F2F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript get_title_and_url_from_front_browser.applescript</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8F46BB63-58D0-4AA1-A005-6587F2C8333A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open "https://github.com/dfrommi/notebook/edit/master/bookmarks.md"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>688E13E7-20FC-429B-A65F-28195E0D7F11</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>bm +</string>
				<key>text</key>
				<string>Add bookmark</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4914FFC3-9844-4C9A-9734-A913E3F96045</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>0B97705B-C130-4C2D-97CC-089DDCB19A5A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://github.com/dfrommi/notebook/blob/master/bookmarks.md</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B809F7AE-112B-4298-A16F-3DD698322E89</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>bm</string>
				<key>text</key>
				<string>Open bookmarks</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>25CFD824-9205-4359-8385-CB85397B4290</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Set notebook repository</string>
				<key>title</key>
				<string>Reository</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>EA0E2B40-BFC4-4673-8444-5DBDAD86AF24</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>nb_conf repo</string>
				<key>text</key>
				<string>Set repository</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3DAF790E-77F1-45BD-97B3-3D0DD0D6BCF4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>php -f nb_conf.php -- repo "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B00F11EE-64F1-4C20-ABA3-B77D2345C4F9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Set Github token for notebook access</string>
				<key>title</key>
				<string>Token</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>37B46817-9E7D-44A6-9240-7377DEACD88C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>nb_conf token</string>
				<key>text</key>
				<string>Set access token</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3AA34AAC-45C4-4D12-B8E9-447B808F3F79</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>php -f nb_conf.php -- token "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>52E0C437-2D6C-4937-900E-AF3A1AD4580F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0B97705B-C130-4C2D-97CC-089DDCB19A5A</key>
		<dict>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>25CFD824-9205-4359-8385-CB85397B4290</key>
		<dict>
			<key>ypos</key>
			<real>530</real>
		</dict>
		<key>2E3E0B8C-D7C2-4F53-AEF8-7A4C770B2EE3</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>37B46817-9E7D-44A6-9240-7377DEACD88C</key>
		<dict>
			<key>ypos</key>
			<real>770</real>
		</dict>
		<key>3AA34AAC-45C4-4D12-B8E9-447B808F3F79</key>
		<dict>
			<key>ypos</key>
			<real>770</real>
		</dict>
		<key>3DAF790E-77F1-45BD-97B3-3D0DD0D6BCF4</key>
		<dict>
			<key>ypos</key>
			<real>650</real>
		</dict>
		<key>4914FFC3-9844-4C9A-9734-A913E3F96045</key>
		<dict>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>502C0E64-75B5-444C-99A4-450A1E623F2F</key>
		<dict>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>52E0C437-2D6C-4937-900E-AF3A1AD4580F</key>
		<dict>
			<key>ypos</key>
			<real>770</real>
		</dict>
		<key>59291333-40E9-49DC-BE0C-77C74D79F96D</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>5FB5A4D6-1377-4DC3-BD16-BCB5D4918FAD</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>639D8A78-8E33-4E83-A94F-EA6F764833EE</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>688E13E7-20FC-429B-A65F-28195E0D7F11</key>
		<dict>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>6CF78C68-F339-4917-B2CF-C9CD7C534132</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>8F46BB63-58D0-4AA1-A005-6587F2C8333A</key>
		<dict>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>B00F11EE-64F1-4C20-ABA3-B77D2345C4F9</key>
		<dict>
			<key>ypos</key>
			<real>650</real>
		</dict>
		<key>B809F7AE-112B-4298-A16F-3DD698322E89</key>
		<dict>
			<key>ypos</key>
			<real>530</real>
		</dict>
		<key>EA0E2B40-BFC4-4673-8444-5DBDAD86AF24</key>
		<dict>
			<key>ypos</key>
			<real>650</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://www.frommknecht.net</string>
</dict>
</plist>
