<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.github.dfrommi.notebook</string>
	<key>connections</key>
	<dict>
		<key>17B0B5F0-ABE1-459C-ADAF-7B54E88145AE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9FAF6239-8F14-4967-B6BF-5793968ED86A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E2F266C2-BD6C-48A0-A90D-7D3F552B6D36</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Open in browser</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>25CFD824-9205-4359-8385-CB85397B4290</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B809F7AE-112B-4298-A16F-3DD698322E89</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2E3E0B8C-D7C2-4F53-AEF8-7A4C770B2EE3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>59291333-40E9-49DC-BE0C-77C74D79F96D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>35DF69D3-90CE-41F8-A3D7-E7B088FD47DC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7B814B48-8822-467F-BCF3-4BFEAD9911C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4914FFC3-9844-4C9A-9734-A913E3F96045</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8F46BB63-58D0-4AA1-A005-6587F2C8333A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>502C0E64-75B5-444C-99A4-450A1E623F2F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8F46BB63-58D0-4AA1-A005-6587F2C8333A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5FB5A4D6-1377-4DC3-BD16-BCB5D4918FAD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>639D8A78-8E33-4E83-A94F-EA6F764833EE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6388459B-1A92-46EF-8C4A-F2CCC68BCCC3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D6A2B74F-3796-4423-AA2F-C8E8B63696CF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6CF78C68-F339-4917-B2CF-C9CD7C534132</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2E3E0B8C-D7C2-4F53-AEF8-7A4C770B2EE3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7424711F-7599-44F1-8023-67AEDA48669D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6388459B-1A92-46EF-8C4A-F2CCC68BCCC3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>7B814B48-8822-467F-BCF3-4BFEAD9911C6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F335BB13-FF9A-4E5A-8B8F-2FBD67CB4145</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E78AF01B-C073-40C9-B849-281C6FDDBC7B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>974BF768-B4EF-4D67-A75C-95157ED1A266</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>80791EB9-E6FD-43F2-8A83-C250692F5F9C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7B814B48-8822-467F-BCF3-4BFEAD9911C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>88AD5CBE-46BC-4828-A4E1-7561C60FFC71</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5FB5A4D6-1377-4DC3-BD16-BCB5D4918FAD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8F46BB63-58D0-4AA1-A005-6587F2C8333A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>688E13E7-20FC-429B-A65F-28195E0D7F11</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0B97705B-C130-4C2D-97CC-089DDCB19A5A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>974BF768-B4EF-4D67-A75C-95157ED1A266</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EFC73209-D323-4AB9-868E-B01DC42736AD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9FAF6239-8F14-4967-B6BF-5793968ED86A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>80791EB9-E6FD-43F2-8A83-C250692F5F9C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D6A2B74F-3796-4423-AA2F-C8E8B63696CF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>35DF69D3-90CE-41F8-A3D7-E7B088FD47DC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E2F266C2-BD6C-48A0-A90D-7D3F552B6D36</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>80791EB9-E6FD-43F2-8A83-C250692F5F9C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E78AF01B-C073-40C9-B849-281C6FDDBC7B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>88AD5CBE-46BC-4828-A4E1-7561C60FFC71</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EFC73209-D323-4AB9-868E-B01DC42736AD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B116948D-58AD-4B2C-91E8-57406971EC01</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F335BB13-FF9A-4E5A-8B8F-2FBD67CB4145</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9990A328-2BBF-4090-8D6C-E89D4EAA4D70</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>dfrommi</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Github Notebook</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo -e "---\ncreated: $(date "+%Y-%m-%d")\ntags: [{query}]\n---\n\n"
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2E3E0B8C-D7C2-4F53-AEF8-7A4C770B2EE3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>nb:tmpl</string>
				<key>subtext</key>
				<string>Paste markdown note template to active app</string>
				<key>text</key>
				<string>Note template</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6CF78C68-F339-4917-B2CF-C9CD7C534132</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string></string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>59291333-40E9-49DC-BE0C-77C74D79F96D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/{var:REPO}/tree/master/{var:category}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>9990A328-2BBF-4090-8D6C-E89D4EAA4D70</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:command}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>open</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>F335BB13-FF9A-4E5A-8B8F-2FBD67CB4145</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>nb:new</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Add note</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7424711F-7599-44F1-8023-67AEDA48669D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>python main.py -r $REPO -t $TOKEN categories "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Notebook categories</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D6A2B74F-3796-4423-AA2F-C8E8B63696CF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>category</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>35DF69D3-90CE-41F8-A3D7-E7B088FD47DC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>command</key>
					<string>new</string>
					<key>noteName</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>6388459B-1A92-46EF-8C4A-F2CCC68BCCC3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>639D8A78-8E33-4E83-A94F-EA6F764833EE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>nb</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>python main.py -r $REPO -t $TOKEN search "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search notebook</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5FB5A4D6-1377-4DC3-BD16-BCB5D4918FAD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>7B814B48-8822-467F-BCF3-4BFEAD9911C6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>path:{var:category} </string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>88AD5CBE-46BC-4828-A4E1-7561C60FFC71</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:command}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>search</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>E78AF01B-C073-40C9-B849-281C6FDDBC7B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>command</key>
					<string>search</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9FAF6239-8F14-4967-B6BF-5793968ED86A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>nb:cat</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>python main.py -r $REPO -t $TOKEN categories "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Notebook categories</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>17B0B5F0-ABE1-459C-ADAF-7B54E88145AE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>category</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>80791EB9-E6FD-43F2-8A83-C250692F5F9C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>command</key>
					<string>open</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E2F266C2-BD6C-48A0-A90D-7D3F552B6D36</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo -e "---\ncreated: $(date "+%Y-%m-%d")\ntags: [{query}]\n---\n\n"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EFC73209-D323-4AB9-868E-B01DC42736AD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/{var:REPO}/new/master/?filename={var:category}/{var:noteName}.md&amp;value={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B116948D-58AD-4B2C-91E8-57406971EC01</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:command}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>new</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>974BF768-B4EF-4D67-A75C-95157ED1A266</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>2</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>D</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.google.Chrome</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>502C0E64-75B5-444C-99A4-450A1E623F2F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open "https://github.com/$REPO/edit/master/bookmarks.md"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>688E13E7-20FC-429B-A65F-28195E0D7F11</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>bm:add</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Add bookmark</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4914FFC3-9844-4C9A-9734-A913E3F96045</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript get_title_and_url_from_front_browser.applescript</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8F46BB63-58D0-4AA1-A005-6587F2C8333A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>0B97705B-C130-4C2D-97CC-089DDCB19A5A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/{var:REPO}/blob/master/bookmarks.md</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B809F7AE-112B-4298-A16F-3DD698322E89</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>bm</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open bookmarks</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>25CFD824-9205-4359-8385-CB85397B4290</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0B97705B-C130-4C2D-97CC-089DDCB19A5A</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>790</integer>
		</dict>
		<key>17B0B5F0-ABE1-459C-ADAF-7B54E88145AE</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>25CFD824-9205-4359-8385-CB85397B4290</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>800</integer>
		</dict>
		<key>2E3E0B8C-D7C2-4F53-AEF8-7A4C770B2EE3</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>35DF69D3-90CE-41F8-A3D7-E7B088FD47DC</key>
		<dict>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>4914FFC3-9844-4C9A-9734-A913E3F96045</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>680</integer>
		</dict>
		<key>502C0E64-75B5-444C-99A4-450A1E623F2F</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>620</integer>
		</dict>
		<key>59291333-40E9-49DC-BE0C-77C74D79F96D</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>5FB5A4D6-1377-4DC3-BD16-BCB5D4918FAD</key>
		<dict>
			<key>xpos</key>
			<integer>1320</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>6388459B-1A92-46EF-8C4A-F2CCC68BCCC3</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>639D8A78-8E33-4E83-A94F-EA6F764833EE</key>
		<dict>
			<key>xpos</key>
			<integer>1550</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>688E13E7-20FC-429B-A65F-28195E0D7F11</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>680</integer>
		</dict>
		<key>6CF78C68-F339-4917-B2CF-C9CD7C534132</key>
		<dict>
			<key>xpos</key>
			<integer>110</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>7424711F-7599-44F1-8023-67AEDA48669D</key>
		<dict>
			<key>xpos</key>
			<integer>110</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>7B814B48-8822-467F-BCF3-4BFEAD9911C6</key>
		<dict>
			<key>xpos</key>
			<integer>920</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>80791EB9-E6FD-43F2-8A83-C250692F5F9C</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>88AD5CBE-46BC-4828-A4E1-7561C60FFC71</key>
		<dict>
			<key>xpos</key>
			<integer>1220</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>8F46BB63-58D0-4AA1-A005-6587F2C8333A</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>680</integer>
		</dict>
		<key>974BF768-B4EF-4D67-A75C-95157ED1A266</key>
		<dict>
			<key>note</key>
			<string>New Note</string>
			<key>xpos</key>
			<integer>1120</integer>
			<key>ypos</key>
			<integer>550</integer>
		</dict>
		<key>9990A328-2BBF-4090-8D6C-E89D4EAA4D70</key>
		<dict>
			<key>xpos</key>
			<integer>1320</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>9FAF6239-8F14-4967-B6BF-5793968ED86A</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>B116948D-58AD-4B2C-91E8-57406971EC01</key>
		<dict>
			<key>xpos</key>
			<integer>1550</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>B809F7AE-112B-4298-A16F-3DD698322E89</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>800</integer>
		</dict>
		<key>D6A2B74F-3796-4423-AA2F-C8E8B63696CF</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>E2F266C2-BD6C-48A0-A90D-7D3F552B6D36</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>E78AF01B-C073-40C9-B849-281C6FDDBC7B</key>
		<dict>
			<key>note</key>
			<string>Search</string>
			<key>xpos</key>
			<integer>1120</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>EFC73209-D323-4AB9-868E-B01DC42736AD</key>
		<dict>
			<key>xpos</key>
			<integer>1320</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>F335BB13-FF9A-4E5A-8B8F-2FBD67CB4145</key>
		<dict>
			<key>note</key>
			<string>Open</string>
			<key>xpos</key>
			<integer>1120</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>REPO</key>
		<string>dfrommi/notebook</string>
		<key>TOKEN</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>TOKEN</string>
	</array>
	<key>version</key>
	<string>0.1</string>
	<key>webaddress</key>
	<string>http://www.frommknecht.net</string>
</dict>
</plist>
